<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Anarco Ciclistas</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
                Um mundo melhor se faz com hábitos melhores. Um deles é compartilhar as ruas e fazer o trânsito ser mais democrático. Mas para os #ciclistas, #motoristas e #pedestres conviverem harmoniosamente nas ruas é preciso respeito mútuo, gentileza e educação. Esta página foi criada pensando nos nossos direitos e deveres ao utilizar #bicicletas para locomover-mo-nos. Afinal, bicicleta é saúde, economia e sustentabilidade!
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
       
    </div>
